---
layout: default
title: Staff
---
<div class="wrapper">
  <div>
    {% include auglysing.html %}
  </div>
  <div class="staff">
      <h1 class="titles">Staff</h1>
      <ul class="staffList">
        {% for author in site.authors %}
        <li>
          <h2 class="staffLinks"><a href="{{ author.url }}">{{ author.name }}</a></h2>
          <h3>{{ author.position }}</h3>
          <p>{{ author.content | markdownify }}</p>
          <hr class="line">
        </li>
        {% endfor %}
      </ul>
    </div>
    <div>
        {% include auglysing.html %}
    </div>
</div>
