 body{
  margin: 0 auto;
  padding:0;
  background-color: #d6d6d6;
  max-width: 80%;
 }
.titles{
  text-align: center;
  padding: 1em;
  font-family: arial,sans-serif;
}
.header{
  direction: ltr;
  display: flex;
}
nav{
  display: flex;
  flex-direction: row;
  margin: auto;
}
nav > a{ 
  text-align:center;
  margin: 1em 2em;
  padding: 0;
  text-decoration: none;
  color: black;
}
nav > a:hover{
    color: #CA1212;
}
a{
  color: black;
  font-family: arial,sans-serif;
  margin: auto;
}
.links{
  font-family: arial,sans-serif;
  font-size: 120%;
}
.split1,
.split2{ 
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
}
.split1{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
  clip-path: polygon(0 0, 100% 0, 100% 100vh);
  background: #d6d6d6;
  z-index: -1;
}

.split2 {
  -webkit-clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  background: #212121;
  z-index: -1;
}
.blogs{
  width: 40%;
  margin: auto;
  background-color: #faf8f8;
  height: 100vh;
}
.blogLinks,
.staffLinks{
  text-align: center;
}
.blogList,
.staffList{
  margin: 1em;
  padding: 0;
  text-align: center;
  list-style: none;
}
.staff{
  width: 40%;
  margin: auto;
  background-color: #faf8f8;
  height: 100vh;
}
.image{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  bottom: 0;
}
.wrapper{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}


@media screen and (max-width: 48em){

  .wrapper{
    max-width: 50em;
    margin: auto;
  }
  .body{
    max-width: 50em;
    margin: 0;
  }
  .header{

  }

}
